@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');


.container-1 {
height: 100vh;
width: 100%;
}
.img-3 {
margin: auto;
width: fit-content;
}
.container-1 .img-3 img {
width: 600px;
height: auto;
}
.img-cont {
  display: flex;
  align-items: center;
  /* border: 2px solid black; */
  width: fit-content;
  margin: auto;
}
.img-4 img {
  width: 400px;
  height: auto;
}
.cont-4{
    /* border: 2px solid black; */
    width: 500px;
    margin: auto;
  }
  .cont-4 .hello{
    font-family: 'Pacifico', cursive;
  }







/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}










/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
  
}








/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  .container-1 .img-3 img {
    width: 300px;
    height: auto;
}
.img-4 img {
    width: 150px;
    height: auto;
  }
.img-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    width: fit-content;
    margin: auto;}
    .cont-4{
        /* border: 2px solid black; */
        width: 200px;
        align-items: center;
        text-align: center;
        margin: auto;
        font-size: 10px;
      }

  
}